.a1{
    color: black;
    text-align: center;
}
body{
    background-color: rgb(231, 231, 231);
}
.h2{
   text-align: center;
   background-color: brown;
}
.tbs{
    background-color: rebeccapurple;

}